body {
    padding: 10px;
    background-color: rgb(12, 0, 15);
    font-family: Georgia, 'Times New Roman,' Times, serif;
}
h1 {
    color: rgb(245, 245, 245);
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
}
a {
    text-decoration: none;
    color:rgb(255, 0, 0);
    font-size: 15px;
    border: 3px solid black;
    padding: 5px;
    background-image: linear-gradient(gray, white);
}
head{
    color: white;
}
p{
    font-size: 1.25em;
    margin-top: 35px;
    line-height: 1.5em;
}
img {
    padding: inherit;
    margin:auto;
    width: 200px;
    display: block;
}
div {
    text-align: center;
    color:aliceblue;
}